.header {
    height: 60px;
    color: #fff;
    background: #333;
    line-height: 32px;
    font-size: 20px;
    padding: 4px 12px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
}

.header-menu a:hover {
    filter: brightness(75%);
}

.header-signout {
    line-height: 24px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    background: #4285F4;
    padding: 10px;
    font-weight: 600;
}

.container {
    padding: 8px;
}

.tasks {
    border: 1px solid #333;
}

.tasks th, .tasks td {
    padding: 2px 4px;
}

.tasks th {
    border: 1px solid #333;
    font-weight: 600;
    text-align: center;
    background: #666;
    color: #fff;
}

.tasks td {
    border: 1px solid #333;
}

.task-score {
    text-align: right;
}

div.results {
    padding: 4px;
}

table.basic-info {
    border: 1px solid #333;
}

table.basic-info th, table.basic-info td {
    padding: 2px 4px;
    border: 1px solid #333;
}

table.basic-info th {
    text-align: right;
    background: #eee;
}

pre.log {
    font-size: 0.75rem;
    padding: 4px;
    border: 1px solid #333;
    background: #eee;
}