<html>
  <head>
      <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-reboot.css">
      <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    </head>
  <body>
    <div id="app">
      <div class="header">
        <div class="header-title">
          ISUCON7 Bench
        </div>
        <div class="header-menu">
          {{ userinfo() }}
          <a v-if="!user" v-on:click="login"><img src="/static/img/btn_google_signin_dark_normal_web.png"></a>
          <a v-if="user" v-on:click="logout" class="header-signout">Signout</a>
        </div>
      </div>
      <div class="container">
        <button v-if="user" v-on:click="request">Request Task</button>
        <div>
          <h2>Tasks</h2>
          <table class="tasks">
            <tr>
              <th>Job #</th>
              <th>E-Mail</th>
              <th>Server</th>
              <th>Requested</th>
              <th>Started</th>
              <th>Ended</th>
              <th>Status</th>
              <th>Score</th>
            </tr>
            <tr v-for="row in tasks">
              <td><a target="result" v-bind:href="'/result/' + row.jobid">{{ row.jobid }}</a></td>
              <td>{{ row.email }}</td>
              <td>{{ row.server }}</td>
              <td>{{ datestr(row.posttime) }}</td>
              <td>{{ datestr(row.starttime) }}</td>
              <td>{{ datestr(row.endtime) }}</td>
              <td>{{ statusstr(row.status) }}</td>
              <td class="task-score">{{ row.score }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
  <script src="/static/js/firebase.js"></script>
  <script src="/static/js/base.js"></script>
</html>