<html>
  <head>
      <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-reboot.css">
      <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    </head>
  <body>
    <div id="app">
      <div>
        Home {{ user ? user.email: "" }}
      </div>
      <div>
        <button v-if="!user" v-on:click="login">Login</button>
        <button v-if="user" v-on:click="logout">Logout</button>
        <button v-if="user" v-on:click="request">Request Task</button>
        </div>
      <div>
        {{ message }}
      </div>
      <table>
        <tr v-for="row in tasks">
          <td>{{ row }}</td>
        </tr>
      </table>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
  <script src="/static/js/firebase.js"></script>
  <script src="/static/js/base.js"></script>
</html>